__pycache__/
*.pyc
.venv/
venv/
*.exe
*.egg-info/
.pytest_cache/
dist/
build/
data/*.csv
data/*.parquet
.env
.ipynb_checkpoints/

# C++ build artifacts
cpp/build/
cpp/cmake-build*/
*.o
*.d
*.a
*.obj
cpp/out/
cpp/build-*/
